

DEBUG = True
SECRET_KEY = 'hired'

# cache
CACHE_TYPE = 'simple'
# CACHE_MEMCACHED_SERVERS = ['localhost', ]
# CACHE_MEMCACHED_USERNAME =
# CACHE_MEMCACHED_PASSWORD =

LOG_ENABLED = False
LOG_FOLDER = 'log'

SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:postgres@localhost/madrid-postgis'
SQLALCHEMY_ECHO = True
SQLALCHEMY_TRACK_MODIFICATIONS = True

JWT_DEFAULT_REALM = 'Login Required'