# -*- coding: utf-8 -*-

DEBUG = True
SECRET_KEY = 'change me please'

# cache
CACHE_TYPE = 'simple'
# CACHE_MEMCACHED_SERVERS = ['localhost', ]
# CACHE_MEMCACHED_USERNAME =
# CACHE_MEMCACHED_PASSWORD =

LOG_FOLDER = 'log'

SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:root@localhost/prueba'
SQLALCHEMY_ECHO = True
SQLALCHEMY_TRACK_MODIFICATIONS = True

JWT_DEFAULT_REALM = 'Login Required'